<p id="notice"><%= notice %></p>

<h1>Workers</h1>
<br>

<ul>
  <% @workers.each do |w| %>
    <li><%= link_to w.name, worker_path(w) %></li>
  <% end %>
</ul>

<%= link_to 'New Worker', new_worker_path %>
